# 事業判定

## lanbdaでの判定

In [4]:
import pandas as pd

# 例として適当なデータを持つDataFrameを作成
df = pd.DataFrame({
    'a': ['a', 'b', 'c', 'd'],
    'b': [1, 5, 6, 4],
    'c': [3, 8, 9, 4],
    'd': [3, 11, 12, 6]
})

# '事業区分'カラムを追加し、'a'列の値が'a'または'b'の場合は'A事業'、'c'または'd'の場合は'B事業'と判定する
df['事業区分'] = df['a'].map(lambda x: 'A事業' if x in ['a', 'b'] else ('B事業' if x in ['c', 'd'] else '不明'))

# 結果を表示
df

   a  b  c   d 事業区分
0  a  1  3   3  A事業
1  b  5  8  11  A事業
2  c  6  9  12  B事業
3  d  4  4   6  B事業

## 関数化、これだと１行が冗長にならない

In [6]:
# '事業区分'カラムを追加し、'a'列の値に基づいて'A事業'または'B事業'と判定する関数を定義する
def determine_business(x):
    if x in ['a', 'b']:
        return 'A事業'
    elif x in ['c', 'd']:
        return 'B事業'
    else:
        return '不明'

# apply関数を使って、'a'列の各値に対して判定関数を適用する
df['事業区分'] = df['a'].apply(determine_business)

# 結果を表示
df

   a  b  c   d 事業区分
0  a  1  3   3  A事業
1  b  5  8  11  A事業
2  c  6  9  12  B事業
3  d  4  4   6  B事業